<configuration>
	<appSettings>
		<add key="SupabaseUrl" value="https://edfvfzshguwadnuzivgn.supabase.co"/>
		<add key="SupabaseKey" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxcHFjaXlrYmp3dnp6dnRrbmpnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5Mzg4MjksImV4cCI6MjA5MDUxNDgyOX0.MuZyRSXUjRTM0TaS7fHAa8DIdASv87daNdvEQz5ZfAM"/>
	</appSettings>
</configuration>